/*layout*/

#textblock {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #181850, #12124d, #3d108f, #181850);
}

#textblock-title {
  height: 345px;
  letter-spacing: 10px;
  text-shadow: 0px 0px 9px white;
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  font-family: "123";
  padding-top: 300px;
}

#textblock-p {
  letter-spacing: 10px;
  color: white;
  text-align: center;
  font-size: 5px;
}

#textblock-content {
  color: #f2f0ed;
  font-size: 16px;
  display: grid;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  align-items: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 40%;
}


/*卡片*/
.card {

  position: relative;
  width: 100%;
  height: 360px;
  background-color: rgba(45, 51, 238, 0);
  border-radius: 20px;
  border: none;
  margin-top: 50px;
  transition: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(260deg, #3b3bb0, #2828f2, #6446be, #4f3e95);

  clip-path: circle(180px at center);
  border-radius: 20px;
  transition: 0.5s;
}

.card:nth-child(2) .circle::before {
  background: linear-gradient(90deg, #3b3bb0, #2828f2, #794ef8, #4f3e95);

}

.card:nth-child(3) .circle::before {
  background: linear-gradient(180deg, #3b3bb0, #2828f2, #6446be, #4f3e95);
}

.card:nth-child(4) .circle::before {
  background: linear-gradient(10deg, #3b3bb0, #2828f2, #6446be, #4f3e95);
}

.card:nth-child(5) .circle::before {
  background: linear-gradient(220deg, #3b3bb0, #2c1fdf, #6446be, #7353f5);
}

.card:nth-child(6) .circle::before {
  background: linear-gradient(120deg, #3b3bb0, #2828f2, #6446be, #4a22eb);
}

.card:hover .circle::before {
  clip-path: circle(500px at center);
  background: #4e00c3;
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  pointer-events: none;
  transition: 0.5s;
}

.card:hover img {
  left: 15%;
  height: 380px;
}

.card .content {
  position: relative;
  width: 50%;
  margin-left: 40%;
  padding: 50px 20px 20px 10px;
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.card h2 {
  font-family: '123';
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 7px;
}

.card .content p {
  color: white;
}

.card .content a {
  position: relative;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-weight: 700;
}
.typelistBtn {
  position: relative;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}

.card:nth-child(2):hover .circle::before {
  clip-path: circle(500px at center);
  background: rgba(45, 183, 238, 0.939);
}

.card:nth-child(3):hover .circle::before {
  clip-path: circle(500px at center);
  background: rgba(45, 51, 238, 0.939);
}

.card:nth-child(4):hover .circle::before {
  clip-path: circle(500px at center);
  background: rgba(135, 45, 238, 0.939);
}

@media (max-width:768px) {


  #textblock-content {
    padding: 30px;
    justify-content: center;
    grid-template-rows: 35% 35%;
    grid-template-columns: 50% 50%;
  }

  .card .circle::before {
    clip-path: circle(110px at center);
  }

  .card:hover {
    margin-top: 50%;
    margin-left: 10%;
    margin-bottom: 50%;
    width: 300px;
    height: 500px;
  }

  .card .content {
    margin-left: 0;
    width: 100%;
    left: 0;
    padding: 30px;
  }

  .card img {
    height: 230px;
  }

  .card:hover img {
    top: 70%;
    left: 50%;
    height: 300px;
  }
  
}

@media (max-width:390px) {
  #textblock-title {

    font-size: 20px;
  }

  #textblock {
    padding: 30px;
  }

  #textblock-content {


    grid-template-rows: 10% 40% 10%;
    grid-template-columns: 70% 70%;
  }

  .card .circle::before {
    clip-path: circle(70px at center);
  }

  .card:hover {
    position:relative;
    margin-top: 100%;
    margin-bottom: 30%;
    margin-left: 0%;
    width: 200px;
    height: 300px;
  }

  .card:hover img {
    top: 70%;

    height: 100px;
  }

  .card img {
    margin: 0;
    height: 130px;
  }

  .card .content {
    font-size: 8px;

    padding: 20px;
  }



  #textblock-p {

    letter-spacing: 5px;
    font-size: 3px;
  }

  
}