@keyframes typing {
    from {
        width: 1ch;
        height: 3ch;
    }

    to {
        width: 42ch;
        height: 20ch;
    }

    from {
        width: 1ch;
        height: 3ch;
    }

    to {
        width: 42ch;
        height: 20ch;
    }
}

.whatdo-container {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #000000, #0e0e0f, #151515, #222222);
}

.whatdo-content h3 {
    animation: fadein 3s ease-in;
    padding-top: 10%;
    font-size: 20px;
    line-height: 170%;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.whatdo-title {
    width: 16ch;
    animation: typing 4s steps(17), blink .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

    position: absolute;
    color: azure;
    font-family: '123';
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 9px white;
}

.whatdo-content {
    padding: 10%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    color: antiquewhite;
    letter-spacing: 3px;
    text-shadow: 0px 0px 9px white;
}

#modelContainerr {
    animation: fadein 3s ease-in;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 60%;
    height: 100vh;
    width: 50%;
    background-color: none;
    transform: translate(-25%, -30%);
}

/*searchbar*/

#button-addon2 {

    z-index: 1;
    margin-top: 10%;
    width: auto;
    border-radius: 5px;
    text-decoration: none;
    animation: fadein 3s ease-in;
    height: 50px;
}

#button-addon2 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: aliceblue;
    font-size: 17px;
    text-decoration: none !important; 
}




/*平板*/
@media (max-width:768px) {
    #button-addon2 {
        z-index: 1;
        margin-top: 10%;
        width: 100%;
        height: 80%;


    }


    .whatdo-content {
        top: 20%;
    }

    .whatdo-title {
        margin-top: 10%;
        font-size: 34px
    }

    .whatdo-content h3 {
        padding-top: 30%;
        font-size: 17px;

    }



    #modelContainerr {
        width: 100%;
        top: 40%;
        left: 25%;
    }

    #button-addon2 h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
    }
}

/*手機*/
@media (max-width:390px) {
    #button-addon2 {
        z-index: 1;
        margin-top: 10%;
        width: 100%;
        height: 30px;
    }

    .whatdo-content {
        top: 20%;
    }

    .whatdo-title {
        margin-top: 0%;
        width: 100%;
        font-size: 17px
    }

    .whatdo-content h3 {
        margin-top: 10%;
        font-size: 5px;
    }

    .search-title {
        font-size: 6px;
    }

    .searchbar {
        margin-top: 0%;
    }

    #modelContainerr {
        width: 100%;
        top: 30%;
        right: 0%;
        left: 25%;
    }

}